* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--bg: hsl(230, 35%, 7%);
	--text: hsl(0, 0%, 100%);
	--muted: hsl(0, 3%, 72%);
	--glass: rgba(255, 55, 255, 0.08);
	--accent: #463cff;
	--heading-color: hsl(195, 79%, 79%);
	--stn-by-clr: hsl(from var(--accent) calc(h + 50) s calc(l + 30));

	--padding: 0.5rem;
	--margin: 0.5rem;

	letter-spacing: 0.7px;
	line-height: 1.5;
}

a {
	color: var(--ft-color);
	text-underline-offset: 0.3rem;
}

html {
	transition: all ease-out 0.5s;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style-type: none;
}

.container {
	width: 100%;
	height: 100dvh;
	background-color: var(--bg);
	color: var(--text);
	position: relative;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
	width: 7px;
}

.container::-webkit-scrollbar-track {
	background-image: linear-gradient(rgb(218, 218, 255), 50%, rgb(44, 44, 44));
	border: 20px;
}

.container::-webkit-scrollbar-thumb {
	background-image: linear-gradient(rgb(0, 0, 29), 50%, rgb(44, 0, 44));
	border-radius: 10px;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem;
	background: hsla(0, 0%, 0%, 0.5);
	position: sticky;
	width: 100%;
	top: 0;
	gap: 1rem;
	z-index: 100;
}

.logo {
	font-size: max(1.5rem, 2.5vw);
	font-weight: 700;
	letter-spacing: 2px;
	margin-right: auto;
	text-shadow: 0px 0px 2px rgba(57, 57, 57, 0.44);
	color: hsl(195, 79%, 79%);

	& a {
		text-decoration: none;
	}
}

.nav {
	margin-right: 1rem;
}

.nav_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;
}

.nav_list_items {
	margin-left: var(--margin);
	font-size: max(0.9rem, 1.2vw);
}

.nav_links {
	color: var(--text);
	text-decoration: none;

	&:hover {
		color: var(--accent);
	}
}

.hero {
	height: 90vh;
	background-image: url("../assets/images/hero/hero_bg.png");
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	position: relative;
	gap: max(1rem, 1.5vw);
	padding: var(--padding);
}

.hero::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: hsla(0, 0%, 0%, 0.5);
}

.hero_content {
	position: relative;
	z-index: 1;
	text-align: center;

	& p {
		color: hsl(from var(--muted) h s calc(l + 10));
	}
}

.hero_heading {
	color: hsl(195, 79%, 79%);
	font-size: 2.8rem;
	text-shadow: 0px 0px 2px rgba(57, 57, 57, 0.44);
	margin: 1rem 0;
}

.hero_link {
	background-color: hsl(from var(--heading-color) h s calc(l - 30));
	color: rgb(41, 50, 64);
	padding: 0.4rem 1.6rem;
	border: none;
	border-radius: 20px;
	font-weight: bold;
	cursor: pointer;
	font-size: 0.9rem;
	text-decoration: none;
	display: inline-block;
	margin: 2rem;
	transition: all ease 0.5s;
	box-shadow: 0px 0px 2px rgba(57, 57, 57, 0.44);
}

a.hero_link:hover {
	background-color: hsl(from var(--heading-color) h s calc(l - 20));
	color: rgb(69, 68, 68);
}

.intro_section {
	margin: 5rem 1rem;
	text-align: center;
	padding: 5rem var(--padding);
	box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.116);
	background-image: linear-gradient(
		to bottom,
		rgba(0, 20, 39, 0.205),
		rgba(14, 37, 59, 0.35),
		rgba(12, 31, 48, 0.205)
	);
	border-radius: 0.6rem;

	& h2 {
		color: var(--heading-color);
		font-size: 2rem;
	}
}

.intro {
	margin: 2rem;
	line-height: 2;
	color: var(--muted);
}

.planet_slides {
	text-align: center;
	box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.144);
	margin: 5rem 0;
	padding: 1rem 0;

	& h2 {
		margin: 2rem 0 1rem 0;
		color: var(--heading-color);
		font-size: 2rem;
	}
}

.planet_content {
	display: flex;
	flex-flow: row nowrap;
	overflow-x: scroll;
	padding: var(--padding);
}

.planet_content::-webkit-scrollbar {
	height: 7px;
}

.planet_content::-webkit-scrollbar-track {
	background-image: linear-gradient(rgb(218, 218, 255), 50%, rgb(44, 44, 44));
	border: 20px;
}

.planet_content::-webkit-scrollbar-thumb {
	background-image: linear-gradient(
		to left,
		rgb(0, 0, 29),
		50%,
		rgb(44, 0, 44)
	);
	border-radius: 10px;
}

.planet_card {
	margin: 1rem var(--margin) 0 var(--margin);
	flex-basis: 20rem;
	padding: 0 0 1rem 0;
	box-shadow: 1px 2px 5px hsla(0, 0%, 7%, 0.226);
	border-radius: 0.7rem;
	background-color: var(--glass);
	transition: all 0.5s ease;

	&:hover {
		background-color: hsl(from var(--glass) h s calc(l - 25));
	}
}

.planet_img_wrapper {
	width: 15rem;
	height: 15rem;
	display: inline-block;
	border-radius: 1rem;
	background-color: rgb(169, 149, 255);
}

.planet_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 0.5rem 0.5rem 0 0;
}

.planet_caption {
	position: absolute;
	left: -10000px;
}

.planet_card h3 {
	margin: 1rem var(--margin);
	color: var(--heading-color);
}

.planet_fact {
	color: var(--muted);
}

.random_fact_wrapper {
	display: flex;
	gap: 0.8rem;
	align-items: center;
	flex-flow: column nowrap;
	align-content: center;
	padding: 1rem var(--padding) 2rem var(--padding);
	box-shadow: 0px 0px 2px rgb(46, 46, 46);
	margin: 5rem 1rem;
	border-radius: 10px;
	background-color: rgba(0, 20, 39, 0.205);
	text-align: center;
	height: fit-content;
}

.random_fact_wrapper h3 {
	margin: 1.5rem var(--margin) 2rem var(--margin);
	color: var(--heading-color);
	font-size: 2rem;
}

.random_fact_content {
	display: flex;
	grid-template-columns: 1fr auto;
	place-content: center;
	place-items: center;
}

.fact_paragraph {
	margin: var(--margin) 1rem;
	flex-grow: 1;
	word-spacing: 2px;
	font-weight: 500;
	word-wrap: break-word;
	color: hsl(from var(--muted) h s calc(l - 20));
	font-weight: 400;
	font-size: 0.9rem;
	border-radius: 10px;
	padding: var(--padding);
}

.generate_fact_btn {
	display: flex;
	align-content: center;
	gap: 0.7rem;
	border: none;
	color: aliceblue;
	padding: 0.5rem 1rem;
	background-image: linear-gradient(
		to left,
		hsl(244, 60%, 27%),
		hsl(300, 64%, 23%)
	);
	box-shadow: 0px 0px 2px hsla(0, 0%, 100%, 0.158);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all ease-in 0.5s, background-image linear 1s;
	width: fit-content;
	margin: 2rem var(--margin) 0 var(--margin);
	padding: var(--padding) 1rem;

	&:hover {
		background-image: linear-gradient(
			to bottom,
			hsl(244, 60%, 20%),
			hsl(300, 69%, 20%)
		);
	}
}

.fact_info {
	font-size: 0.5rem;
	color: hsl(from var(--muted) h s calc(l - 40));
}

.bi-stars {
	fill: gold;
}

.missions_section {
	padding: 1rem 0;
	box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.144);
	overflow: hidden;
	margin: 5rem 0;
}

/* Not needed now || Might come in handy to add the see more mission feature */
.missions_section::after {
	/* content: ""; */
	height: 12rem;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.705);
}

.missions_section h2 {
	margin: 2rem;
	font-size: 2rem;
	color: var(--heading-color);
	text-align: center;
}

.mission_content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max(300px, 30vw), 1fr));
}

.mission_card {
	margin: 1rem var(--margin);
	background-color: rgba(128, 128, 128, 0.11);
	border-radius: 0.5rem;
	padding-bottom: 0.7rem;
	transition: all ease-in-out 0.5s;

	&:hover {
		background-color: rgba(203, 203, 203, 0.11);
		transform: translateY(-2px);
		color: var(--muted);
	}
}

.mission_card p {
	margin: var(--margin);
	color: var(--muted);
	font-size: max(0.7rem, 0.8vw);
}

.mission_name {
	margin: 1.5rem var(--margin);
	color: hsl(from var(--muted) h s calc(l + 7));
}

.mission_img_wrapper {
	width: 100%;
	height: 15rem;
	border-radius: 0rem;

	& .mission_img {
		border-radius: 0.1rem;
		max-width: 100%;
		width: 100%;
		height: 100%;
		inset: 0;
		object-fit: cover;
		object-position: center;
		position: relative;
	}

	& .mission_caption {
		position: absolute;
		color: red;
		visibility: hidden;
		left: -10000px;
	}
}

.highlights {
	color: var(--muted);
	padding: 1rem var(--padding);
	box-shadow: 0px 0px 2px hsla(0, 0%, 50%, 0.116);
	background-color: hsla(209, 100%, 8%, 0.205);
	text-align: center;
	margin: 5rem 0 1rem 0;
	padding-bottom: 3rem;

	& h2 {
		margin: 2rem;
		font-size: 2rem;
		color: var(--heading-color);
	}
}

.highlights_content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max(300px, 30vw), 1fr));
	gap: 1rem;
	list-style-type: none;
	padding: 1rem;
}

.hightlight_card {
	line-height: 1.5;
	color: var(--muted);
	border-radius: 0.3rem;
	box-shadow: 0px 0px 4px rgb(40, 40, 40);
	padding: 1rem var(--padding) 2.5rem var(--padding);
	background-color: var(--glass);

	& h3 {
		margin: 1rem var(--margin);
	}

	& small {
		margin: 1rem var(--margin);
		color: var(--muted);
	}

	&:hover {
		background-image: linear-gradient(
			to top,
			hsla(209, 27%, 29%, 0.064),
			hsla(210, 94%, 13%, 0.034)
		);
		transform: scale(1.02);
	}
}

.footer {
	background-color: rgba(4, 4, 11, 0.058);
	text-align: center;
	box-shadow: 0px 0px 3px rgba(61, 60, 60, 0.082);
	padding: 0 2rem 0 1rem;
}

.site_footer {
	background: #0b0f1a;
	color: #ccc;
	padding: 3rem 1rem 1.5rem;
}

.footer_content {
	gap: 2rem;
	max-width: 1100px;
	margin: 1rem auto;
	padding: 2rem 1rem;

	background-color: hsla(0, 0%, 30%, 0.255);
	& h3,
	& h4 {
		color: var(--heading-color);
		margin: 0.3rem var(--margin);
	}
}

.footer_description,
.footer_nav_section,
.footer_section {
	margin: 2rem;
	color: var(--muted);
	line-height: 1.5;

	& p {
		font-size: 0.8rem;
		margin: var(--margin);
	}
}

.footer_nav {
	list-style-type: none;

	& p {
		margin: 0.3rem;
	}

	& a {
		font-size: max(0.8rem, 1vw);
		text-decoration: underline;
		text-underline-offset: 2px;

		&:hover {
			color: var(--accent);
		}
	}
}

.footer_bottom p {
	letter-spacing: 2px;
	margin: 2rem 0;
}
