* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--bg: hsl(230, 35%, 7%);
	--text: hsl(0, 0%, 100%);
	--muted: hsl(0, 0%, 82%);
	--glass: rgba(255, 55, 255, 0.08);
	--accent: #463cff;

	--padding: 0.5rem;
	--margin: 0.5rem;

	line-height: 1.5;
}

a {
	color: var(--ft-color);
	text-underline-offset: 0.3rem;
}

html {
	transition: all ease-out 0.5s;
}

body {
	font-family: "Orbitron", sans-serif;
}

ul {
	list-style-type: none;
}

.container {
	width: 100%;
	height: 100vh;
	background-color: var(--bg);
	color: var(--text);
	position: relative;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
	width: 7px;
}

.container::-webkit-scrollbar-track {
	background-image: linear-gradient(rgb(218, 218, 255), 50%, rgb(44, 44, 44));
	border: 20px;
}

.container::-webkit-scrollbar-thumb {
	background-image: linear-gradient(rgb(0, 0, 29), 50%, rgb(44, 0, 44));
	border-radius: 10px;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem;
	background: hsla(0, 0%, 0%, 0.5);
	position: sticky;
	width: 100%;
	top: 0;
	gap: 1rem;
	z-index: 100;
}

.profile {
	cursor: pointer;
}

.logo {
	font-size: max(1.5rem, 2.5vw);
	font-weight: 700;
	letter-spacing: 2px;
	margin-right: auto;
	color: var(--accent);

	& a {
		text-decoration: none;
	}
}

.nav {
	margin-right: 1rem;
}

.nav_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;
}

.nav_list_items {
	margin-left: var(--margin);
	font-size: max(0.9rem, 1.2vw);
}

.nav_links {
	color: var(--text);
	text-decoration: none;

	&:hover {
		color: var(--accent);
	}
}

.hero {
	height: 90vh;
	background-image: url("../assets/images/hero/hero_bg.png");
	/* background-color: #0b0d17; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	position: relative;
	gap: max(1rem, 1.5vw);
	padding: var(--padding);
}

.hero::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: hsla(0, 0%, 0%, 0.5);
}

.hero_content {
	position: relative;
	z-index: 1;
	text-align: center;

	& p {
		color: var(--muted);
	}
}

.hero_heading {
	color: var(--accent);
	font-size: 2.8rem;
	text-shadow: 0px 1px 1px hsl(from var(--muted) h s calc(l - 30));
	margin: 1rem 0;
}

.hero_link {
	background-color: var(--accent);
	color: hsl(from var(--text) h s calc(l - 15));
	padding: 0.4rem 1.6rem;
	border: none;
	border-radius: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
	text-decoration: none;
	display: inline-block;
	margin: 2rem;
}

a.hero_link:hover {
	background-color: hsl(from var(--accent) h s calc(l - 15));
	color: var(--muted);
}

.planet_slides {
	text-align: center;

	& h2 {
		margin: 2rem 0 1rem 0;
	}
}

.intro_section {
	margin: 2rem 1rem;
	text-align: center;
	padding: 5rem var(--padding);
	box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.116);
	background-color: rgba(0, 20, 39, 0.205);
	border-radius: 0.6rem;

	& h2 {
		color: hsl(from var(--accent) h s calc(l - 15));
	}
}

.intro {
	margin: 2rem;
	line-height: 2;
	color: var(--muted);
}

.planet_content {
	display: flex;
	flex-flow: row nowrap;
	overflow-x: scroll;
	padding: var(--padding);
}

.planet_content::-webkit-scrollbar {
	height: 7px;
}

.planet_content::-webkit-scrollbar-track {
	background-image: linear-gradient(rgb(218, 218, 255), 50%, rgb(44, 44, 44));
	border: 20px;
}

.planet_content::-webkit-scrollbar-thumb {
	background-image: linear-gradient(
		to left,
		rgb(0, 0, 29),
		50%,
		rgb(44, 0, 44)
	);
	border-radius: 10px;
}

.planet_card {
	margin: 1rem var(--margin) 0 var(--margin);
	flex-basis: 20rem;
	padding: 0 0 1rem 0;
	box-shadow: 1px 2px 5px hsla(0, 0%, 7%, 0.226);
	border-radius: 0.7rem;
	background: var(--glass);
}

.planet_img_wrapper {
	width: 15rem;
	height: 15rem;
	display: inline-block;
	border-radius: 1rem;
	background-color: rgb(169, 149, 255);
}

.planet_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 0.5rem 0.5rem 0 0;
}

.planet_caption {
	position: absolute;
	left: -10000px;
}

.planet_card h3 {
	margin: 1rem var(--margin);
	color: hsl(from var(--muted) h s calc(l + 7));
}

.planet_fact {
	color: var(--muted);
}

.random_fact_wrapper {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 1rem;
	align-items: center;
	flex-flow: column nowrap;
	align-content: center;
	padding: 1rem var(--padding) 2rem var(--padding);
	box-shadow: 0px 0px 2px rgb(46, 46, 46);
	margin: 5rem 1rem;
	border-radius: 10px;
	background-color: rgba(0, 20, 39, 0.205);
	height: fit-content;
}

.random_fact_wrapper h3 {
	margin: 1rem;
	color: var(--accent);
	text-align: center;
	font-size: 1.5rem;
}

.random_fact_content {
	display: flex;
	grid-template-columns: 1fr auto;
	place-content: center;
	place-items: center;
}

.fact_paragraph {
	margin: var(--margin) var(--margin) var(--margin) 1rem;
	flex-grow: 1;
	word-spacing: 2px;
	font-weight: 500;
	word-wrap: break-word;
	color: var(--muted);
}

.generate_fact_btn {
	height: fit-content;
	border: none;
	color: aliceblue;
	padding: 0.5rem 1rem;
	background-image: linear-gradient(
		to left,
		hsl(244, 60%, 27%),
		hsl(300, 64%, 23%)
	);
	box-shadow: 0px 1px 5px hsla(0, 0%, 100%, 0.158);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all ease-in 0.5s;

	&:hover {
		background-image: linear-gradient(
			to right,
			hsl(244, 60%, 20%),
			hsl(300, 69%, 20%)
		);
	}
}

.bi-stars {
	fill: gold;
}

.missions_section {
	padding: 1rem 0;
	box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.144);
	overflow: hidden;
	/* position: relative; */
	margin-bottom: 2rem;
}

/* Not needed now || Might come in handy to add the see more mission feature */
.missions_section::after {
	/* content: ""; */
	height: 12rem;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.705);
}

.missions_section h2 {
	margin: 2rem;
	font-size: 2rem;
	color: var(--accent);
	text-align: center;
}

.mission_content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max(300px, 30vw), 1fr));
}

.mission_card {
	margin: 1rem var(--margin);
	background-color: rgba(128, 128, 128, 0.11);
	border-radius: 0.5rem;
	padding-bottom: 0.7rem;
}

.mission_card p {
	margin: var(--margin);
	color: var(--muted);
	font-size: max(0.7rem, 0.8vw);
}

.mission_name {
	margin: 1.5rem var(--margin);
	color: hsl(from var(--muted) h s calc(l + 7));
}

.mission_img_wrapper {
	width: 100%;
	height: 15rem;
	border-radius: 0rem;

	& .mission_img {
		border-radius: 0.1rem;
		max-width: 100%;
		width: 100%;
		height: 100%;
		inset: 0;
		object-fit: cover;
		object-position: center;
		position: relative;
	}

	& .mission_caption {
		position: absolute;
		color: red;
		visibility: hidden;
		left: -10000px;
	}
}

.footer {
	background-color: blue;
	padding: var(--padding);
}

/* @media screen and (max-width: 450px) {
} */
